# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config AUDIO_AMEBA_DMIC
	bool "Ameba Digital PDM microphone attached to I2S support"
	default y
	depends on DT_HAS_REALTEK_AMEBA_CODEC_ENABLED
	select I2S
	select PINCTRL
	# select HAS_STLIB
	help
	  Enable Ameba microphone support on the selected board
